html,
body {
  margin: 0;
  background-color: black;
}

.navbar {
  display: flex;
  position: relative;
  align-items: center;
  padding: 30px 40px;
}

.navbar-title {
  display: flex;
  align-items: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.navbar-span-1 {
  color: white;
  font-size: 2.2vw;
  text-decoration: none;
  font-weight: bold;
}

.navbar-span-2 {
  color: white;
  white-space: pre;
  font-size: 2.2vw;
  text-decoration: none;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-span {
  z-index: 5;
  white-space: pre;
  color: white;
  align-items: center;
  margin-top: 1.1vmax;
  padding: 1.5vmax 0px;
  width: 100%;
  text-transform: capitalize;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background: black;
}

.menu-index {
  color: white;
}

.item-container {
  cursor: pointer;
  position: relative;
}

.masonry-with-columns {
  max-width: 1024px;
  columns: 4 200px;
  column-gap: 1rem;
  a {
    width: 250px;
    display: inline-block;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    height: 100%;
    border-radius: 4px;
    img {
      width: 100%;
    }
  }
}

.details-container {
  position: absolute;
  opacity: 0;
  top: 0;
  width: 250px;
  height: 100%;
}

.details-container:hover {
  opacity: 1;
}

.details-upper-shadow {
  top: 0;
  position: absolute;
  background: linear-gradient(180deg, black, rgba(0, 0, 0, 0));
  height: 55%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.details-lower-shadow {
  bottom: 0;
  position: absolute;
  background: linear-gradient(0deg, black 10%, rgba(0, 0, 0, 0));
  height: 55%;
  width: 100%;
  z-index: 1;
}

.details-title {
  color: white;
  margin: 18px 14px 0 14px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.details-avatar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 0px;
  margin: 0 6px 30px 18px;
}


.details-avatar-img {
  width: 15% !important;
  height: 15%;
  border-radius: 4px;
}

.details-avatar-title {
  color: white;
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
}

