<a href={{@url}} class="details-container">
    <div class="details-upper-shadow">
        <span class="details-title">{{@title}}</span>
    </div>
    <div class="details-lower-shadow">
        <div class="details-avatar-container">
            <img src={{@avatar_url}} class="details-avatar-img">
            <span class="details-avatar-title">{{@avatar_name}}</span>
        </div>
    </div>
</a>