<nav class="navbar">
    <LinkTo @route="content">
        <img src="../assests/images/GIPHY Logo 30px.png" />
    </LinkTo>
    <LinkTo @route="content">
        <div class="navbar-title">
            <span class="navbar-span-1">GiphyFeed</span>
            <span class="navbar-span-2"> with Ember</span>
        </div>
    </LinkTo>
</nav>